%h1 Listing magic_card_types

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @magic_card_types.each do |magic_card_type|
    %tr
      %td= magic_card_type.name
      %td= link_to 'Show', magic_card_type
      %td= link_to 'Edit', edit_magic_card_type_path(magic_card_type)
      %td= link_to 'Destroy', magic_card_type, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Magic card type', new_magic_card_type_path
