%h1 Editing magic_project

= render 'form'
Decks in Project
%ul
  - @project_decks.each do |deck|
    %li<
      = deck.magic_deck.name
      &nbsp;
      = "[#{ link_to('remove', [@magic_project, :remove_deck, deck], :method => :post) }]".html_safe

Click a deck to add it.
%ul
  - @all_decks.each do |deck|
    %li= link_to deck.name, [@magic_project, :add_deck, deck], :method => :post

= link_to 'Show', @magic_project
\|
= link_to 'Back', magic_projects_path
