%p#notice= notice

%p
  %b Name:
  = @magic_project.name
Decks in Project

%div
  - @project_decks.each do |deck|
    - deck = deck.magic_deck
    %div{:style => "float: left"}
      %h3= deck.name
      %h5 Maindeck
      %ul
        - deck.maindeck_cards.each do |card|
          %li= "#{card.maindeck} #{card.magic_card_name.name}"
      %h5 Sideboard
      %ul
        - deck.sideboard_cards.each do |card|
          %li= "#{card.sideboard} #{card.magic_card_name.name}"
    
= link_to 'Edit', edit_magic_project_path(@magic_project)
\|
= link_to 'Back', magic_projects_path
