%p#notice= notice

%p
  %b Name:
  = @magic_project.name
Decks in Project

%div
  - @project_decks.each do |deck|
    - deck = deck.magic_deck
    %div.panel.panel-default{:style => "float: left"}
      .panel-heading
        %h4= deck.name
      %h5 Maindeck
      %ul.list-group
        - deck.maindeck_cards.each do |card|
          %li.list-group-item= "#{card.maindeck} #{card.magic_card_name.name}"
      %h5 Sideboard
      %ul.list-group
        - deck.sideboard_cards.each do |card|
          %li.list-group-item= "#{card.sideboard} #{card.magic_card_name.name}"
  %div.panel.panel-default{:style => "float: left"}
    .panel-heading
      %h4 Need
    %ul.list-group
      - @needs.card_names.each do |card_name|
        %li.list-group-item
          = @needs.qty(card_name)
          = link_to card_name, [@magic_project, :add_card, @needs.card_for_name(card_name).magic_card_name], :method => :post
  %div{:style => "float: left"}
    .panel-heading
      %h4 Have
      - @haves.each do |card|
        %li.list-group-item
          = card.quantity
          = link_to card.magic_card_name.name, [@magic_project, :remove_card, card.magic_card_name], :method => :post

    
= link_to 'Edit', edit_magic_project_path(@magic_project)
\|
= link_to 'Back', magic_projects_path
